<!DOCTYPE html>
<html>
    <head>
        <title>Ether-Vote</title>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
        <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
    </head>

    <body class="container">
      <h1>Create a new election</h1>
        <form>
            Title:
            <br>
            <input type="text" id="titleText"></input>
            <br>

            Author User Adress:
            <br>
            <input type="text" id="userAddressText"/>
            <br>

            Time Limit (in minutes):
            <br>
            <input type="number" id="timeLimit"/>
            <br>

            Candidates, comma seperated:
            <br>

            <textarea id="candidateList" rows="4" cols="50"></textarea>
            <br>
                Voter addresses, comma seperated:
            <br>
            <textarea id="voterList" rows="4" cols="50"></textarea>
            <br>
            <a id="makeElectionButton" href="#" onclick="makeElection()"
            class="btn btn-primary">Make Election</a>
        </form>
      <p id='showMessage'>
      </p>

    </body>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="../static/newElection.js"></script>
</html>
